body {
  background-color: hsl(228, 33%, 97%);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-main {
  background-color: hsl(0, 0%, 100%);
  height: 343px;
  width: 256px;
  /** find correct margin */
  margin: 20px 0;
}

.users-image {
  height: 32px;
  width: 32px;
}

.card-comment-content {
  margin: 20px 0 0 0;
}
